body {
    font-family: 微軟正黑體, Microsoft JhengHei, Arial, Helvetica, sans-serif;
    background-color: #FFF;
    background-image: url(/images/handmadepaper__2X.png);
    position: relative;
}

/*
* {
    border: 1px solid #ddd;
}
*/

/** container header **/

.full_img img {
    width: 100%;
}
.full_img .line_img {
    margin: 50px 0;
}

.introduction {
    width: 100%;
    font-size: 24px; 
    line-height: 46px; 
    text-align: center;
}

.btn_list {
    text-align: center;
    height: 72px;
}

.select_list {
    display: none;
}

.btn_list .btn {
    width: 19.5%;
    padding:3px ; 
}

.btn_list .btn:hover {
    filter: drop-shadow(3px 3px 3px rgba(20%, 20%, 20%, 0.5));
    padding:3px 1.5px;
}

#top_btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: -22px;
    z-index: 99;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgba(20%,20%,40%,0.75));
/*    box-shadow: -3px -3px 5px 0px rgba(100%,100%,100%,0.5), 5px 5px 10px -3px rgba(20%,20%,40%,0.5);*/
}

#top_btn img {
    width: 75%;
}

/** #container1, #container2, #container3, #container4, #container5 **/
#container1, #container2, #container3, #container4, #container5 {
    margin-top: 60px;
    padding: 0 20px;
}

.container h3 {
    color: #e50057;
    line-height: 35px;
    font-size: 26px;
}

.container hr {
    width: 100%;
    height: 1px;
    background-color: #e50057;
    margin: 0;
    margin-bottom: 30px;
}

.container .goh_context  {
    font-size: 20px;
    line-height: 36px;
    color: #333;
}

/** #container1 **/
#container1 .character {
    padding-right: 0px;
    text-align: center;
    font-size: 14px;
}

#container1 .character img {
    width: 85%;
    padding-bottom: 8px;
}
    
#container1 .title span {
    margin-left: 180px;
}

/** #container2 **/
#container2 .context1, #container2 .context2 {
    padding-left: 0px;
    padding-top: 40px;
}

#container2 .r_img {
    padding-right: 0px;
}

#container2 .l_img {
    padding-left:0px;
}

#container2 .activity img {
    width:100%;
}

/** #container3 **/
#container3 .title {
    color:#e50057;
}

#container3 .context1, #container3 .context2 {
    padding-left: 0;
}

#container3 .context1 {
    margin-bottom: 15px;
}

#container3 .photo {
    padding-right: 0px;
    margin-top: 30px;
}

/** #container4 **/
#container4 .commodity div {
    margin-bottom: 15px;
}

#container4 .goh_context {
    padding-top: 50px;
}

#container4 .btn_place {
    text-align:center;
    height: 80px;
}

#container4 .btn_place img {
    width: 50%;
    padding: 15px;
}

#container4 .btn_place img:hover {
    filter: drop-shadow(3px 3px 3px rgba(20%,20%,40%,0.5));
    padding: 15px 10px;
}
}

/** #container5 **/
#container5 .artist {
    text-align: center;
}
#container5 .artist img {
    height: 250px;
    padding: 15px;
}

#container5 .artist a img:hover {
    filter: drop-shadow(3px 3px 3px rgba(20%,20%,40%,0.5));
    padding: 8px;
}

/** footer **/
footer .sponsor {
    padding: 15px;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 900;
    color: #1a1a1a;
    text-align: left;
    line-height: 30px;
}

footer .sponsor img {
    vertical-align: inherit;
    height: 35px;
    padding: 0 8px;
}

footer .sponsor li.logo {
    padding-left: 50px;
}

footer .sponsor .sponsor1, footer .sponsor .sponsor2, footer .sponsor .sponsor3 {
    line-height: 60px;
}

footer .sponsor .title {
    padding-left: 55px;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .row {
        margin-right: 0; 
        margin-left: 0; 
    }
    
    .full_img {
        padding: 0;
    }
    
    .full_img .line_img {
        margin: 0;
        margin-top: 25px;
    }
    
    .introduction {
        font-size: 18px;
        line-height: 30px;
    }
    
    .btn_list {
        display: none;
    }
    
    .btn_list .btn {
        width: 75%;
        padding: 8px 0;
    }
    
    .select_list {
        display: block;
        text-align: center;
        padding: 0;
    }
    
    .select_list select {
        width: 100%;
        border: 2px solid #ced4da;
        border-radius: 6px;
        cursor: pointer;
        color: #5c5c5c;
        font-size: 22px;
        padding: 8px;
        font-weight: 900;
        box-shadow:inset 3px 3px 3px rgba(20%,20%,40%,0.15);
    }
    
    .title_img {display: none;}
    
    #top_btn {
        right: -7%;
    }
    
    #top_btn img {
        width: 70%;
    }
    
    /** #container1, #container2, #container3, #container4, #container5 **/
    #container1, #container2, #container3, #container4, #container5 {
        margin-top: 30px;
/*        padding: 0;*/
    }
    
    .container h3 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .container hr {
        margin-bottom: 15px;
    }
    
    .container .goh_context {
        font-size: 16px;
        line-height: 26px;
        padding: 0;
    }
    
    /** #container1 **/
    #container1 .character {
        padding-right: 15px;
    }
    
    #container1 .character img {
        width: 65%;
        padding: 10px;
    }
    
    #container1 .title span {
        margin-left: 0;
    }
    
    /** #container2 **/
    #container2 .context1, #container2 .context2 {
        padding-top: 0;
    }
    
    #container2 .r_img {
        padding-right: 15px;
    }
    
    #container2 .l_img {
        padding-left: 15px;
    }
    
    #container2 .activity {
/*        padding: 0;*/
    }
    
    #container2 .activity img {
        padding: 10px 0;
    }
    
    /** #container3 **/
    #container3 .photo {
        padding-right: 0;
        margin-top: 0;
        padding: 10px;
    }
    
    /** #container4 **/
    #container4 .commodity, #container4 .commodity .commodity_img {
        padding: 0;
    }
    
    #container4 .commodity div {
        margin-bottom: 0;
    }
    
    #container4 .goh_context {
        padding-top: 10px;
        padding-bottom: 60px;
    }
    
    #container4 .btn_place img {
        width: 45%;
        padding: 5px 0;
    }
    
    /** #container5 **/
    #container5 .artist {
        padding: 0px;
        text-align: center;
    }
    
    #container5 .artist img {
        height: 156px;
        padding: 3px;
    }
    
    /** footer **/
    footer.container, footer .footer_img {
        padding: 0;
    }
    
    footer .sponsor {
        margin-top: 80px;
        font-size: 18px;
    }
    
    footer .sponsor .sponsor1, footer .sponsor .sponsor2, footer .sponsor .sponsor3 {
    line-height: 45px;
    }
    
    footer .sponsor ul {
        padding-left: 0;
    }
    
    footer .sponsor li.logo, footer .sponsor .title {
        padding-left: 15px;
    }
    
    footer .sponsor img {
        height: 25px;
        padding: 0 5px;
    }

}
